@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About us
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Home/About"> About us</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<br />
<br />
<br />
<!-- Start info Area -->
<section class="info-area pb-120">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding info-area-left">
                <img class="img-fluid" src="@Url.Content("/Content/img/about-img.png")" alt="">
            </div>
            <div class="col-lg-6 info-area-right">
                <h1 style="text-align:center;">
                    About us
                </h1>
                <p style="font-size:160%;">
                    موجودہ دور مغربی فکر و فلسفے کا دور ہے۔ المیہ یہ ہے کہ مسلمان بھی اس ملحدانہ مغربی فلسفے کے سامنے مغلوب اور بے بس نظر آتے ہیں۔ ضرورت اس امر کی ہے کہ علمی سطح پر الحاد و مادہ پرستی کی اس یلغار کے آگے بند باندھا جائے اور دین اسلام کی تعلیمات کو عوام الناس کے سامنے وقت کے محاورات اور اسلوب میں پیش کیا جائے۔

                    الحمد للہ اس مقصد کے حصول کے لیے فقہ اکیڈمی، پاکستان (رجسٹرڈ) جید علماء کرام اور مشائخ عظام کی سرپرستی میں مصروف عمل ہے۔ جس کے تحت مختلف شعبہ ہائے زندگی اور متنوع عمروں سے تعلق رکھنے والے افراد کو دین کی بنیادی تعلیمات سے آراستہ کیے جانے کے لیے مختصر و طویل دورانیے کے کورسز کا آغاز کیا جارہا ہے۔
                    فقہ اکیڈمی میں جاری کورسز اور سرگرمیوں سے آگاہ رہنے کے لیے درج ذیل پتے یا فون نمبروں پر رابطہ کیا جاسکتا ہے۔
                </p>
                <br>
                <p style="text-align:center;">
                    <b>
                        +92-21-3461-FIQH (3474)<br />
                        +92-330-3474223 (Whatsapp)
                    </b>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End info Area -->