
@{
    ViewBag.Title = "Taleem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Taleem-ul-Islam
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/Courses/Taleem">Taleem</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start course-details Area -->
<section class="course-details-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-contents">
                <div class="main-image">
                    <img class="img-fluid" src="@Url.Content("/Content/img/taleem1.png")" alt="">
                </div>
                <div class="jq-tab-wrapper" id="horizontalTab">
                    <div class="jq-tab-menu">
                        <div class="jq-tab-title active" data-tab="1">Objectives</div>
                        <div class="jq-tab-title" data-tab="2">Eligibility</div>
                        <div class="jq-tab-title" data-tab="3">Course Outline</div>

                    </div>
                    <div class="jq-tab-content-wrapper">
                        <div class="jq-tab-content active" data-tab="1">
                            علومِ دینیہ ایک بحر بے کنار کی مانند ہیں۔ اس سمندر کی وسعتوں کا اندازہ کرنے کے لیےپوری پوری زندگیاں بھی ناکافی معلوم ہوتی ہیں۔ اگر ایک شخص علومِ دینیہ کے کسی ایک گوشے میں سلفِ صالحین کے کام کا احاطہ کرنا چاہے تو گزشتہ چودہ صدیوں کا تراثِ علمی اُسے اپنی جانب دعوتِ فکر دیتا ہے۔
                            اس چار سالہ نصاب کی تدریس کا مقصد طلبہ کو علوم دینیہ کے روایتی طرز پر ایک جامع تعارف کرایا جائے تا کہ انہیں گہرائی اور گیرائی کے ساتھ علوم کی مزید تحصیل کی ترغیب و تشویق ہو۔
                            اس نصاب کے مقاصد یہ ہیں کہ طلبہ کو علماء دین و علومِ اسلامی کی چودھا صدیوں پر محیط روایت اور اقدار سے روشناس کروایا جائے اور فکری مضامین میں رسوخ کی جانب پیش قدمی ہو۔
                            فکری میدان کے لیے ایسے افرادتیار کیے جائیں جو اس میدان میں کفر و الحادکی فکری یلغار کا مقابلہ کرسکیں۔
                            ایسے اہل افرادِ کار کی تیاری جو جدید تعلیم یافتہ ہونے کے ساتھ ساتھ علومِ دینیہ سے بھی قدرے مستحکم تعلق رکھتے ہوں، اوراکابر علماءکی سرپرستی میں خدمتِ دینی کے مختلف گوشوں میں موثر کردار ادا کرنے کے اہل ہوں۔
                            ان ہی میں سے ایسے لوگ تیار ہوں جو ٹھوس علمی بنیادوں پر دعوت و تبلیغ اور تحقیق و تصنیف کی راہوں پر آگے بڑھنے کی استعداد رکھتے ہوں۔چنانچہ آگے چل کر اپنے تعلیمی سفر کو آگے بڑھائیں اور ایک مستند اور پختہ کار عالمِ ربانی کی حیثیت اختیار کر سکیں۔
                        </div>
                        <div class="jq-tab-content" data-tab="2">
                            Candidates should have passed graduation in Islamic Studies or in related disciplines securing at least 50% marks from a recognized university board.
                            Further, students who have passed Fazil (Graduation) examination securing at least 50% marks from a Madarsa which has been recognized by any of the State Boards of the Madarsas.
                            Applicants should have proficiency in English and Urdu/Persian/Arabic and knowledge of Theology and teachings of Islam.
                            The marks for admission may vary from institute to institute and in various colleges and Universities, it conducts entrance exams plus interview for the admission of the students.
                        </div>
                        <div class="jq-tab-content" data-tab="3">
                            <ul class="course-list">
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to Islamic Studies</p>

                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Usool-ul-Tafseer</p>

                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Usool-ul-Hadith</p>

                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Usool-ul-Fiqh</p>

                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Asaan Tarjuma Quran</p>

                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Tasawwuf</p>

                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Riyadh-us-Saliheen</p>

                                </li>


                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Duration</p>
                            <span class="or">1 Year</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Fee </p>
                            <span>$230</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Available Seats </p>
                            <span>60</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Schedule </p>
                            <span>2.00 pm to 4.00 pm</span>
                        </a>
                    </li>
                </ul>
                <a href="/Registration/Create" class="primary-btn text-uppercase">Enroll</a>
            </div>
        </div>
    </div>
</section>
<!-- End course-details Area -->
